button {
  background: blue;
  color: whitesmoke;
  border-radius: 8px;
  padding: 8px;
  border: 0px;
}

button:hover {
  color: #0099cc;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
